@charset "utf-8";

@import url("mavenframework.css");
/*--------------------------------------------------------------------------------------------------------------- */*/
.container{padding:150px 0;}

/* Content */
.container .content{}

.sectiontitle{display:block; margin-bottom:50px; text-align:center;}
.sectiontitle *{margin:0;}
.sectiontitle .heading{display:inline-block; position:relative; padding-bottom:8px;}
.sectiontitle .heading::after{display:block; position:absolute; bottom:0; left:50%; width:50px; height:2px; margin-left:-25px; content:"";}

.services li:nth-child(-n+3){}/* Adds bottom margin to the first three elements only */
.services > li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
.services article{display:block; position:relative; padding:20px 0 0 30px; z-index:1;}
.services article::before, .services article::after{display:table; content:"";}
.services article::after{clear:both;}
.services article *{margin:0 0 15px 0;}
.services article > :last-child{margin-bottom:0;}
.services article i{display:block; position:absolute; top:0; left:0; margin:0; padding:0; line-height:1; font-size:60px; z-index:-1;}
.services article .heading{}
.services article p{}
.services article footer{margin-top:30px;}

.mytestimonials{}
.mytestimonials article{position:relative; }
.mytestimonials article:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
.mytestimonials article img{position:absolute; top:0; left:0; border-radius:50%;}
.mytestimonials article blockquote{margin:0 0 20px 0; padding:0;}
.mytestimonials article .heading{margin:0;}
.mytestimonials article em{display:block; margin-top:-5px; font-size:.9rem; font-style:normal;}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 0px solid #eee; 
}


/* Colours
--------------------------------------------------------------------------------------------------------------- */
/*body{color:#A8A7A6; background-color:#191919;}*/
a{color:#23527c;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:rgba(221, 221, 221, 0.1);width: 50%;}
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#F4A330;}

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.overlay.light{color:rgba(255, 255, 255, 0.84);;}
.overlay.light::after{background-color:rgba(46, 100, 146, 0.63);}
.overlay.coloured::after{background-color:#C46219;}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#c56d73; border-color:#c56d73;}
.btn:hover, .btn.inverse{color:#fff; background-color:#c56d73; border-color:#c56d73;}


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
/*@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}
*/

/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:450px){
	.mytestimonials article{padding-left:0;}
	.mytestimonials article img{position:relative; top:inherit; left:inherit; margin-bottom:20px;}
}

