@media(max-width:767px){

	.translation-item {

		border-right: 0px solid #e4e4e4;

	}

	.translation-item h1{

		text-align:center

	}

	.translation-item .res{

		width:70%;

		margin-bottom:15px;

	}

	.topbanner {

		min-height: 82px;

		padding: 0px 9px 10px;

	}

	.we-speak {

		padding: 8px 0px 50px;

	}

	.we-speak h1 {

		font-size: 25px;

		padding: 0px 0px;

		padding-top: 28px;

	}

	.translation-item .res {

		width: 61px;

		margin-bottom: 3px;

	}

	.translation-item h1 {

		font-size: 9px;

		font-weight: 400;

		margin-top: 4px;

		text-transform: uppercase;

	}

	.translation-item {

		margin-bottom: 2px;

		min-height: 92px;

	}

	.pos-res {

		margin-top: -65px;

		position: relative;

		z-index: 100;

	}

	.translation-item .col-sm-4{

		padding:0px

	}

	.agency h1 {

		color: #3d6b8f;

		font-size: 20px;

		font-weight: 400;

		text-align: center;

	}	

	.agency p {

		color: #3d6b8f;

		font-size: 15px;

		font-weight: 400;

		line-height: 22px;

	}

	.agency {

		padding: 14px 0px;

		background: #fff;

	}

	.logo {

		width: 92px;

		height: auto;

		margin-top: 10px;

		/*margin-bottom: 10px;*/

	}

	

	.res-foot{

		display:none;

		padding-bottom:15px;

		position:fixed;

		bottom:0px;

		z-index:100;

		background:#f4f4f4;

		width: 100%;

	}

	.con-hd {

		font-size: 18px;

	}

	footer{

		padding:0px;

	}

	.lgp{

		margin-top:0px;

	}

	.contakt {

		padding: 18px 0px;

	}

	.con-hdbig {

		font-size: 23px;

	}

	.inner_section {

		background:none;

		padding: 20px 0px;

	}

	.topbanner2 {

		background:none;

	}

	.sp-body {

		padding: 11px 0px;

		background:none;

	}

	.con-hdsmsall {

		font-size: 20px;

	}

	body{

		background:#fff url(../images/res_bg.png)no-repeat center top;

	}

	.con-hd {

		margin: 9px 0px;

		color: #2e6492;

	}

	.cform-res label{

		background:#e5e5e5;

		padding: 7px 0px 7px 15px;

		-webkit-border-top-left-radius: 20px;

		-webkit-border-bottom-left-radius: 20px;

		-moz-border-radius-topleft: 20px;

		-moz-border-radius-bottomleft: 20px;

		border-top-left-radius: 20px;

		border-bottom-left-radius: 20px;

	}

	.cform-res .form-control{

		border-radius:0px;

		-webkit-border-top-right-radius: 20px;

		-webkit-border-bottom-right-radius: 20px;

		-moz-border-radius-topright: 20px;

		-moz-border-radius-bottomright: 20px;

		border-top-right-radius: 20px;

		border-bottom-right-radius: 20px;

		color: #878787;

		/*text-align: left;*/

		font-size: 13px;

	}

	.cform-res {

		padding-left:15px;

		margin-top:15px;

	}

	.cform-res .col-xs-7 {

		padding-left:0px;

	}

	.cform-res .col-md-12 {

		text-align:center !important;

		padding-left: 0px;

	}

	.test-describe {

		padding: 50px 0px 15px;

	}

	select{

		background:#f5f5f5 url(../images/Arrowhead-Down-01-16.png)no-repeat 95% center !important;

	}

	.test-describe p {

		color: #7197b6;

	}

	.testdetails {

		color: #7197b6;

	}

	.cl-logo-list li {

		width: 33.5%;

		margin: -3px -2px;

		padding: 6px;

	}

	.footercontent h1 {

		color: #7197b6;

	}

	.footercontent p {

		color: #7197b6;

	}

	.con-des {

		color: #7197b6;

	}

	.pheight {

		height: 84px;

	}

	.cfooter{

		background:none;

		padding-bottom:50px

	}

	.slheight{

		height:300px !important;

		padding-top:70px;

	}

	.box.has-advanced-upload {

		border: 0px dashed #00ffff !important;

	}

	

	.js .box__file + label {

		font-size: 18px !important;

	}

	.js .box__file + label {

		border-radius: 20px;

	}

	.box__input {

		padding-right: 15px;

	}

	.mhw{

		height:43px !important;

		width:43px !important;

	}

	.mmrgin{

		margin-left:-15px

	}

}

@media(max-width:1023px){

	.footercontent h1{

		margin-top:15px

	}

	.banner-menu li a {

		font-size: 18px;

		padding: 34px 9px;

	}

	.submenu ul li a {

		display: block;

		padding: 16px 7px;

	}

	.main-menu {

		margin: 10px 0px;

	}

}

@media(min-width:990px){

	.lpd{

		padding-right:5px;

	}

	.rpd{

		padding-left:5px;

	}

	.res-foot{

		display:block !important

	}

	.slheight{

		height:600px

	}

	#swiper-container2{

		padding-bottom:0px !important;

	}

}



@media(max-width:767px){

	.tsub{

		width: 100% !important;

		background: none !important;

	}

	.p20{

		border-radius: 20px !important;



	}

	.ad_padi{

		padding-left:15px;

	}

	.tsen{

		text-align:left !important;

	}

}



@media (min-width: 768px) {

	.we-speak {

	    padding: 206px 0px;

	}

	.navbar {

	    min-height: 0;

	}

	.topbanner {

	    margin-top: -1px;

	}

}



@media(min-width:1024px){

	.logo {

		margin-top: -36px;

	}

	.main-menu {

		margin: 0px 0px;

	}

}