@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700,900');
body{
	font-family: 'Source Sans Pro', sans-serif;
	
}
.navbar {
	margin-bottom: 0px;
	min-height: 40px;
}
/*maven*/
.navbar-inverse {
    /*background-color: #fafafa;
    border-color: #fafafa;*/
    /*background-color: #3071A1;*//*rgb(55, 133, 185);*/
    border-color: #3071A1;/*rgb(55, 133, 185);*/
    border: none;
    background: #fff;
  }
  /*maven*/
  .navbar-inverse .navbar-nav > li > a {
  	/* color: #293747 !important;*/
  	color: #333 !important;
  	/*font-weight: 600;*/
  	padding: 5px 19px;
  	line-height: 14px;
  }
  .navbar-inverse .navbar-nav > li > a:hover {
  	color: #f00 !important;
  }
  .navbar-inverse .navbar-nav > li {
  	border-right:1px solid #cfcfcf;
  	margin:14px 0px 0px 0px;
  }
  .navbar-inverse .navbar-nav > li:last-child {
  	border-right:0px solid #ccc
  }
  .navbar-right .dropdown-menu {
  	right: inherit;
  }
  .top-search{
  	border:1px solid #cfcfcf;
  	border-radius:50px;
  	margin-top: 16px;
  	background:#fff url(../images/search.png)no-repeat 94% center / 12px auto;
  	padding:2px 10px;
  	color:#000;
  }
  .topbanner{
  	min-height:50px;
  	padding:0px 0px 0px;
  	/*background:url(../images/top-banner.jpg)no-repeat center center / cover;*/

  }
  .topbanner3{
  	background:none;
  	position:absolute;
  	z-index: 4;
  	width:100%;

  }
  .banner-menu{
  	float:right;
  	list-style:none;
  	padding:0px;
  	margin:0px;
  	display:table;
  }
  .banner-menu li {
  	display: table-cell;
  }
  .banner-menu li a{
  	color:#fff;
  	font-size:20px;
  	display:block;
  	padding: 34px 15px;
  	font-weight:400;
  }
  .banner-menu li a.active{
  	background:#76b7d4;
  }
  .logo{
  	width:130px;
  	height:auto;
  	margin-top: -30px;
  	/*padding-bottom: 16px;*/
  }
  .lgp{
  	/*margin-top: 5px;*/
  }
  @media(min-width:990px){
  	.spl{
  		float:right;
  	}
  }
  /*maven*/
  .quick-offer{
  	background: rgba(48, 113, 161, 0.79);/*rgba(150, 5, 5, 0.54);*//*rgba(48, 113, 161, 0.79);*//*#2e6492;*/
  	padding:30px;
  }
  .quick-offer h1{
  	font-size:30px;
  	font-weight:300;
  	color:#fff;
  	margin-top:0px;
  	margin-bottom:30px;
  }
  /*maven*/
  .quick-offer .form-control{
  	padding-left:100px;
  	background:rgba(167, 195, 216, 0.51);/*rgba(214, 138, 144, 0.69);*//*rgba(167, 195, 216, 0.51);*//*#376e9d;*/
  	border:0px solid red;
  	border-radius:20px;
  	height:40px;
  	text-align:right;
  	color:#fff;
  }
  .quick-offer .form-group{
  	position:relative;
  	margin-bottom:8px
  }
  .quick-offer label{
  	color: #fff;
  	position: absolute;
  	top: 10px;
  	left: 19px;
  	font-weight:400;
  }
  .quick-offer button{
  	color:#fff;
  	background: #45749b/*rgba(160, 17, 15, 0.66);*//*#45749b;*/
  	width:100%;
  	border-radius:20px;
  	width:100%;
  	border:0px solid red;
  	height:40px
  }
  /*maven*/
  .we-speak h1{
  	font-weight:300;
  	font-size:39px;
  	/*color:#438cb9/*#619db8;*/
  	color: #fff;
  }
  .we-speak{
  	padding: 206px 0px;
  }
  .watch{
  	height:45px;
  	border-radius:10px;
  	background:#9eb4c1;
  	font-size:22px;
  	font-weight:300;padding:0px 30px;
  	border:0px solid #fff;
  	color:#fff;
  	margin-top:30px
  }
  .translation{
  	background:#f5f5f5;
  	padding-top:50px;
  }
  .res{
  	max-width:100%;
  }
  .translation-item {
  	margin-bottom: 35px;
  	/*border-right: 1px solid #e4e4e4;*/
  	min-height: 116px;
  }
  .translation-item h1{
  	font-size:20px;
  	font-weight:300;
  	color:#2e6492;
  	margin-top:0px;
  }
  .translation-item p{
  	font-size:15px;
  	font-weight:400;
  	color:#5e6c77;
  	margin-bottom:0px;
  }
  .no-border{
  	border:0px solid #fff;
  }
  .Training{
  	padding:70px 0px 30px;
  	background:#ebebeb;
  }
  .upper-cs{
  	min-height:87px;
  	background:#3d6b8f;
  	padding:15px 0px;
  	margin: 0px -10px;
  }
  .upper-cs h1{
  	font-size:20px;
  	color:#e9eff8;
  	margin-top:3px;
  	font-weight:300
  }
  .upper-cs .res{
  	width:auto;
  	height:50px
  }
  .lower-cs{
  	min-height:70px;
  	background:#6289a8;
  	padding:15px;
  	color:#fff;
  	font-size:14px;
  	font-weight:300;
  	margin: 0px -10px 20px;
  }
  .spd{
  	padding:0px 10px;
  }
  .testimonials{
  	/*padding:50px 0px 20px;*/
  	/*background:#f8f8f8;*/
  }
  .test-top{
  	height:150px;
  	position:relative;
  }
  .client-logo1{
  	width:80px;
  	height:80px;
  	position:absolute;
  	bottom:-40px;
  	left:15px;
  }
  .test-describe{
  	background:#fff;
  	padding:28px 15px 15px;
  	margin-bottom:30px
  }
  .test-describe p{
  	font-size:15px;
  	color:#626c76;
  	font-style:italic;
  	font-weight:300;
  }
  .testdetails{
  	font-size:14px;
  	color:#626c76;
  	font-weight:400;
  }
  .testdetails strong{
  	font-weight:bold;
  }
  .testdetails strong{
  	font-weight:bold;
  }
  .testiread{
  	color:#7797b3;
  	font-weight:300;
  	font-size:15px;
  }
  .min-gp{
  	height:15px;
  }
  .text-b{
  	font-size:15px;
  	margin-top:0px;
  	margin-bottom:30px;
  	height:35px
  }
  .lowgap{
  	padding:0px 5px;
  }
  .manage-lowgap{
  	padding:0px 10px;
  }
  .company-logo{
  	padding:35px 0px;
  	background:#fff;
  }
  .client-logo-item{
  	width:20%;
  	float:left;
  }
  .client-logo-item .res{
  	height:70px
  }
  .agency{
  	padding:50px 0px;
  	background:#f8f8f8;
  }

  .agency h4 {
  	text-align:center;
  	font-size: 25px;
  }
  .agency h1 {
  	color: #27384a;
  	font-size: 25px;
  	font-weight: 300;
  	margin-top: 0px;
  	margin-bottom: 15px;
  	text-align: center;
  }
  .agency p{
  	color:#27384a;
  	font-size:21px;
  	font-weight:100;
  	line-height:28px;
  	text-align:center;
  	font-family: -webkit-pictograph;
  }
  .map{
  	position:relative;
  	-webkit-filter: grayscale(50%);
  	-moz-filter: grayscale(50%);
  	-ms-filter: grayscale(50%);
  	-o-filter: grayscale(50%);
  	filter: bscale(50%);
  	margin-bottom:-10px
  }
  footer{
  	background:#f0f0f0;
  	padding:50px 0px;
  	height: 100%
  }
  .footercontent h1{
  	font-weight:bold;
  	font-size:15px;
  	margin:0px;
  	color:#626c76;
  	margin-bottom:5px
  }
  .footercontent p{
  	font-weight:400;
  	font-size:15px;
  	margin:0px;
  	line-height:23px;
  	color:#626c76;
  }

  .need-toquick{
  	display: table;
  	height: 125px;
  	width: 125px;
  	border-radius: 50%;
  	background: #fff;
  	margin: 0 auto -50px;
  	cursor: pointer;
  	position: absolute;
  	bottom: -188px;
  	left: 50%;
  	margin-left: -63px;
  }
  .need-toquick-inner{
  	display:table-cell;
  	text-align:center;
  	vertical-align:middle;
  	background:#3d6b8f;
  	border:3px solid #fff;
  	font-size:13px;
  	color:#fff;
  	border-radius:50%;
  	position:relative;
  }
  .need-toquick-inner span{
  	font-size:16px;
  }
  .client-say{
  	color: #3d6b8f;
  	font-size: 20px;
  	font-weight: 400;
  	text-align: center;
  	margin-top:15px;
  }
  .client-mob{
  	padding:10px 0px;
  	background:#3d6b8f;
  }
  .swiper-container {
  	width: 100%;
  	height: 100%;

  }
  .swiper-slide {
  	text-align: center;
  	font-size: 18px;
  	background: none;


  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	-webkit-justify-content: center;
  	justify-content: center;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	-webkit-align-items: center;
  	align-items: center;
  }
  #swiper-pagination {
  	bottom:-1px;
  	text-align:right;
  	padding-right:30px;
  }
  #swiper-pagination .swiper-pagination-bullet {	
  	background: #FFFCFf ;
  	opacity: 0.4 ;
  }
  #swiper-pagination .swiper-pagination-bullet-active{
  	opacity: 1 !important;
  }

  #swiper-pagination2 {
  	bottom:-1px;
  	text-align:right;
  	padding-right:30px
  }
  #swiper-pagination2 .swiper-pagination-bullet {	
  	background: #6489a5 ;
  	opacity: 0.4 ;
  }
  #swiper-pagination2 .swiper-pagination-bullet-active{
  	opacity: 1 !important;
  }
  .contakt button {
  	color: #fff;
  	background: #45749b;
  	width: 100%;
  	border-radius: 20px;
  	width: 100%;
  	border: 0px solid red;
  	height: auto;
  	line-height: 0px;
  	padding: 12px 0px 14px;
  	font-weight:bold;
  }
  .contakt{
  	padding:21px 0px;
  }
  .micon{
  	position:absolute;
  	right:15px;
  	top:15px;
  	color:#3d6b8f;
  	font-weight:600;
  	z-index:999
  }
  .mobile-menu{
  	position:fixed;
  	height:100%;
  	width:100%;
  	z-index:99999;
  	right:-100%;
  	top:0px;
  	-webkit-transition: all .5s; /* Safari */
  	transition: all .5s;
  }
  .mobile-menu.active{	
  	right:0px;
  }
  .mmenu-item{
  	width:50%;
  	position:relative;
  	height:100%;
  	float:right;
  	background:#3d6b8f;
  	overflow:auto
  }
  .mmenu-close{
  	width:50%;
  	position:relative;
  	height:100%;
  	float:left;
  }
  .mbig{
  	padding:0px;
  	list-style:none;
  }
  .mbig li{
  	margin-bottom:9px;
  }
  .mbig li a{
  	color:#fff;
  	font-size:17px;
  	display:block;
  	font-weight:600
  }
  .msmall{
  	padding:0px;
  	list-style:none;
  }
  .msmall li{
  	margin-bottom:6px;
  }
  .msmall li a{
  	color:#fff;
  	font-size:16px;
  	display:block;
  	font-weight:600;
  	opacity:.6
  }
  .res-foot{
  	position:relative;
  }
  .clf{
  	float: right;
  	cursor: pointer;
  	margin-bottom: -37px;
  	position: absolute;
  	right: 10px;
  	top: 11px;
  }
  .submenu ul{
  	text-align:right;
  	width:100%;
  	padding:0px;
  	margin:0px
  }

  .submenu ul li{
  	display:inline-block;
  }
  .submenu ul li a{
  	display:block;
  	padding:20px 15px ;
  }
  .submenu ul li a.active{
  	font-weight:bold;
  	background:url(../images/blaro.png)no-repeat 0px center;
  }
  .submenu{
  	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
  	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
  	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.29);
  	background:#fff;
  	display:none;
  }

  .inner_section{
  	/*background:#f5f5f5;*/
  	/*padding:60px 0px;*/
  }
  .con-hd{
  	/*color:#27384a;*/
  	color: #23527C;
  	padding: 2px 0 10px 0;
  	font-size:22px;
  	font-weight: bold;
  	padding-bottom: 30px;
  	/*font-weight:300;*/
	/*margin:20px 0px;
	padding:0px;*/
	text-align:left
}
.npd{
	padding:0px;
}
.con-block{
	margin:19px 0px;
	font-size:15px;
	color:#27384a;
	line-height:28px;
}
.pik-lang{
	padding:10px;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-align:center;
	text-transform:uppercase;
	background:#8ab2d2;
	margin-bottom:60px;
}
.pik-lang.active{
	background:#6289a8;
}
.lround{
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.rround{
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.cform label{
	font-weight:400;
	color:#27384a;
	text-align:left !important;
}
.cform .form-control{
	border-radius:10px;
	/*border:0px solid red;*/
	color:#6289a8;
	background:#fff;
	/*background:#f5f5f5;*/
	box-shadow: none;
	text-align: left;

	border: 1px solid rgb(178, 178, 178);
}
.cform .form-group{
	margin-bottom:22px;
}
.bttm_gp{
	margin-top:17px;
	margin-bottom:4px !important	
}
.con-hdbig{
	font-size:39px
}
.con-hdsmsall{
	font-size:25px
}
.con-des{
	font-size:15px;
	color:#27384a;
	line-height:27px;
	margin-bottom:30px
}
.theight{
	height:150px !important;
	resize:none;
}
.drag{
	text-align:center;
	padding:30px 0px;
	border-radius:20px;
	border:2px dashed #03ffff;
}
.congap{
	height:50px
}
.con-hdsmsall2{
	font-size:22px;
	margin-bottom:10px;
	margin-top:25px
}
.fd{
	margin-bottom:0px
}
.ftable tr td{
	padding:5px;
	vertical-align:top;
}
.cl-logo{
	background:#fff;
	padding:25px 0px;

}
.cl-logo-list{
	width:100%;
	padding:0px;
	margin:0px;
	text-align:center;
}
.cl-logo-list{
	width:100%;
	padding:0px;
	margin:0px;
	text-align:left;
}
.cl-logo-list li{
	display:inline-block;
	width: 20.5%;
	margin:10px;
	/* border:1px solid #e2e2e2; */
	/* padding:10px 10px; */
	cursor:pointer;
	filter: grayscale(1);
	-webkit-filter: grayscale(1); /* Old WebKit */
	opacity: 0.8;
	vertical-align: top;
}
.bord{
	border:1px solid #e2e2e2;
	padding: 10px 10px;
}

.supp_name{
	padding: 10px 2px;
}

.cass{
	margin-top: 20px;
}

.cl-logo-list li:hover{
	/*opacity:.6;*/
}
.pheight{
	height:120px
}
.sp-body{
	padding:30px; 
	/*background:#fff;*/
	/*background:#fff url(../images/bg.jpg) repeat top left;*/
}
.tran {
	font-size: 15px;
	color: #7197b6;
	font-style: italic;
	font-weight: 300;
}
select{
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Sa*/
}
.form-control {
	padding: 6px 29px 6px 12px;
}
.ad-color{
	color:#555 !important
}
.box
{
	font-size: 1.25rem; /* 20 */
	/*background-color: #c8dadf;*/
	
	padding: 20px 20px;
}
.box.has-advanced-upload
{
	border: 2px solid #c8dadf;
	/*border: 2px solid #fff;*/
	outline-offset: -2px;
	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
	border-radius:20px;
	
	/*background:#fff*/
}
.box.is-dragover
{
	outline-offset: -20px;
	outline-color: #c8dadf;
	background-color: #fff;
}
.box__dragndrop,
.box__icon
{
	display: none;
}
.box.has-advanced-upload .box__dragndrop
{
	display: inline;
}
.box.has-advanced-upload .box__icon
{
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input
{
	visibility: hidden;
}

.box__uploading,
.box__success,
.box__error
{
	display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error
{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}
.box__uploading
{
	font-style: italic;
}
.box__success
{
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside
{
	from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
	75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
	to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
	from	{ transform: translateY( -50% ) scale( 0 ); }
	75%		{ transform: translateY( -50% ) scale( 1.1 ); }
	to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box__restart
{
	font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
	color: #39bfd3;
}
.js .box__file
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.js .box__file + label
{
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong
{
	color: #39bfd3;
}
.js .box__file:focus + label,
.js .box__file.has-focus + label
{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.js .box__file + label *
{
	/* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box__file + label
{
	display: none;
}

.no-js .box__button
{
	display: block;
}
.t2, .t3,.dnnn{
	display:none;
}
.home_dp{
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
}
a, input, button{
	outline:none !important;
}
/*maven*/
.lan {
	border: 0px solid red;
	background: none;
	padding: 0px 15px;
	font-weight:600;
	background:#ffffff url(../images/Arrowhead-Down-16.png) no-repeat 95% center !important;
	border: 1px solid #cfcfcf;
	border-right:0px solid red;	
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
	cursor: default;
	background: none;
	border: 0px solid #ddd;
	border-bottom-color: transparent;
	padding: 0px;
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 0px solid transparent;
	border-radius: 4px 4px 0 0;
	padding: 0px;
	color: #fff;
	background:none !important;
}
.nav-tabs {
	border-bottom: 0px solid #ddd;
}
.map_marker_html_wrapper{
	width:226px;display:table;
}
.map_marker_html_img{
	display:table-cell;vertical-align:top;
}
.map_marker_html_deatils{
	width:100%;display:table-cell;text-align:left;vertical-align:top;padding:0 5px;
}
.map_marker_html_deatils_text{
	font-size:11px;line-height:14px;
}
.map_marker_html_cahshback{
	display:table-cell;text-align:center;vertical-align:top;
}
.map_marker_html_cahshback{
	font-size:9px;line-height:10px;color:#4b919c;text-transform: uppercase;padding-top:2px;
}
.gm-style-iw {
	width: 150px !important;
	top: 55px !important;
	left:-46px !important;
	background: url(../images/mala.png)no-repeat center center !important;
	box-shadow: none;
	border: 0px solid #4b919c;
	border-radius: 0px;
	padding: 4px 0 0 4px;
	height: 79px;
	color:#fff !important;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.mlts .btn-group{
	width:100%;
}
#lstFruits{
	width:100%;
}
.multiselect{
	width:100%;
	border-radius:10px;
	/*background:#f2f2f2;*/
	/*border:0px solid red;*/
	color:#6289a8;
	background:#fff;
	/*background:#f5f5f5;*/
	box-shadow: none;
	text-align: left;
	border: 1px solid rgb(178, 178, 178);

}
.multiselect-container{
	height:150px;
	overflow:auto
}
.error{
	color:red;
	display:none;
	font-size:14px;
	font-weight:bold;
}
#no_words{
	display:none
}
.small {
	float: right;
	font-size: 15px !important;
	color: #f00 !important;
	margin-top: 13px;
	cursor: pointer;
	font-weight: bold !important;
	margin-right: 9px;
}
#with-altField .ui-datepicker{
	width:100%;
}
#half_time{
	display:none
}
.res-foot h1{
	text-align:left;
}
.sp-body p{
	margin-left:0px !important
}
h1{
	text-align:left;
}
.mb{
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background:none !important;
	width:auto !important;
	padding: 0px;

}
.sp-body ul{
	padding-left:13px;
}
.swiper-wrapper22 {
	position: relative;
	width: 100%;
	height: 548px !important;
} 
@media(max-width:767px){
	.nbg{
		background:none !important;
		padding:0px !important;
		text-align:center

	}
	.swiper-wrapper22 {
		position: relative;
		width: 100%;
		height: 300px !important;
	}
}
.modal-dialog {
	width: 300px;
	margin: 30px auto;
}
.modal-content {
	border-radius: 1px;
	border-top:4px solid #2e6492;
}
a{
	outline:none
}
/*maven*/
.mytopbar{
	color: #244969;		
	background: #f5f5f5;
	padding: 0px 15px;
	font-weight:600;	
	border: 1px solid #f5f5f5;
	
}
/*maven*/
.main-menu{
	position: relative;
	display: block;
	margin: 35px 15px; 
	font-size: 18px;
	cursor: pointer;  
}
/*maven*/
.navbar-nav a  {   
	color: #215faa;/*#1a5f9a ;*//*#214360;*/
	/*text-shadow: 2px 5px 6px rgba(0,0,0,0.2), 0px -4px 35px rgba(255,255,255,0.3);*/
	cursor: pointer;

}
/*maven*/
.nav > li > a:hover,
.nav > li > a:focus {
 /* text-decoration: none;
 background-color: #eee;*/
 text-decoration: none;
 background-color:rgba(36, 73, 105, 0.2);
 /*font-weight: 200;*/
 color: #000;
 cursor: pointer;
}
.quickoffer{
	color:#fff;
}

/* do not group these rules */
*::-webkit-input-placeholder {
	color:rgba(161, 153, 151, 1);
	/*color:rgba(255, 255, 255, 0.29);*/
}
*:-moz-placeholder {
	/* FF 4-18 */
	color:rgba(161, 153, 151, 1);
}
*::-moz-placeholder {
	/* FF 19+ */
	color:rgba(161, 153, 151, 1);
}
*:-ms-input-placeholder {
	/* IE 10+ */
	color:rgba(161, 153, 151, 1);
}

#register, 
#login{
	/*position: absolute;*/
	/*top: 0px;*/
	width: 100%;	
	padding: 35px 6% 35px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}

.outline-img {
	cursor:pointer; /*background:#f2f2f2;*/ 
	padding:5px; 
	border-radius:5px; 
	border: 1px solid #f2f2f2;
	margin-top: 2px;
	margin-bottom: 2px;
}

.grayscale-img {
	height:70px; 
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	-moz-filter: grayscale(90%);
	-ms-filter: grayscale(90%);
	-o-filter: grayscale(90%);
}




.cases-block{
	margin: 30px 0;
}

.block1{
	border: 2px solid #ECECEC;
	border-radius: 12px;
	padding: 40px 0px;		
  width: 92%
}

.block2{
	padding: 40px 0px;
	border: 2px solid #ECECEC;
	border-radius: 12px;
  width: 92%;
}
.slider-with-images}{
  width: 50%;
}

.block-img-1{
	margin: 0 auto;
	width: 140px;
}

.block-img-2{
  margin: 0 auto;
  width: 160px;
  padding: 10px;
}

.text-in-block{
	margin:0 auto;
	margin-bottom: 10px;
}
.text-client-title{
  font-size: 20px;
  font-weight: 300;
  color: #23527c;
  font-family: 'Source Sans Pro', sans-serif;
}

.like-button{
	padding: 12px;
	text-transform: uppercase;
	background-color: #2B91A9;
	color: #fff;
	border-radius: 9px;	  
}
.like-button:hover{
	cursor: pointer;
}
.box-block{	
	width: 180px;
	margin: 0 auto;
}
.box-block>a, .btnn>a{
	text-decoration: none;
	line-height: 1;
  padding-top: 20px;
}

.block2{
	margin-top: 30px;
}

/* SLIDER WITH CLIENTS */

.carousel-control.right,.carousel-control.left{
 background-image: none;
}
.carousel-control{
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8%;
  opacity: 1!important; 
}


.test-slider-text-box > h3{
  margin: 0!important;
}

.test-slider-text-box{
	background-color: #F5F5F5;
	padding: 0 30px;
  height: 240px;
}

.img-slider{
  position: relative;
}


.btnn{
	width: 300px;
	margin: 0 auto;

}
.btnn-under-slider{
	background-color: #2B91A9;
	padding: 14px;
	color: #fff;
	border-radius: 10px;
	text-transform: uppercase;
  margin-top: 20px;  
}




/* CALL BACK FORM */

.normal-h1{
	text-transform: none!important;
}

#learn-about-solution-block{	
	background-color: #2B91A9;

}

.lr-ab-sol-title{
	color: #fff;
	font-size: 36px;
	font-weight: 600;
}

.lr-ab-sol-block{
	padding: 40px 0;
}

.cform-homepage{
	color: #fff;
	text-align: left !important;

}
label{
	font-weight: normal!important;
}

.hm-but{
	color: #3A5375!important;
	font-weight: 400;
}

.fa-contact-sent{
	font-size: 10px!important;
	color: #3A5375;
}

.fa-contact-sent-footer{
  font-size: 10px!important;
  color: #fff;
}


/* ADD FOOTER BLOCK */
.line{
	border-top: 1px solid  #90C2CD;	
}

.bot-block{
	padding: 25px 0;	
	color: #23527C;
}
.footer-menu{
	list-style: none;
	padding-left: 0px;
	text-transform: uppercase;
	font-weight: 600;

}

.footer-menu li a{
	line-height: 2.1!important;
	color: #23527C!important;
}
.footer-small-block-title{
	text-transform: uppercase;
	font-weight: 600;
	color: #23527C;
}

.footer-resources{
	list-style: none;
	line-height: 1.3;
	padding-left: 0px;
	text-transform: uppercase;
}
.footer-resources li .proz{
 color: #23527C!important;
}

.form-hm-page{
	background-color: #2B91A9;
}

.ad-color-hm-page{
	color: #fff;
}

.footer-small-block-title a{
	color: #23527C!important;
}

/* do not group these rules */
.ad-color-hm-page::-webkit-input-placeholder {
	color: rgba(255,255,255,1)!important;
}
.ad-color-hm-page:-moz-placeholder {
	/* FF 4-18 */
  color: rgba(255,255,255,1)!important;
}
.ad-color-hm-page::-moz-placeholder {
	/* FF 19+ */
  color: rgba(255,255,255,1)!important;
}
.ad-color-hm-page:-ms-input-placeholder {
	/* IE 10+ */
  color: rgba(255,255,255,1)!important;
}

.carousel-indicators{
	bottom: 44%!important;
}

.carousel-indicators .active{
	background-color: #319AEF;
}
.carousel-indicators li{
	background-color: #8EC3EF;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  top: 41%!important;
}

.glyphicon-chevron-right:before, .glyphicon-chevron-left:before{
  background-color: #2B91A9;
  padding: 15px;
}

.slider-title{
  font-weight: normal;
  font-size: 26px;
  text-transform: uppercase;
  padding-bottom: 5px;
  color: #2B91A9;
}

.btnn{
  padding-top: 5px;
}


/* CASES PAGES */
.case-page-carousel{
margin-top: 25px;
}
.case-page{  
  bottom: 44%!important;
}
  

.carousel-control .icon-prev, 
.carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.case-page-control{
  top: 45%!important;
}

.case-pos-title{
  color:#23527C;
  font-weight: 600;
}


/* HEAD MENU ADD PAGES */
.main-submenu{
  position: relative;
  display: block; 
  font-size: 14px;
  cursor: pointer;  
}
.main-submenu > li{
  list-style: none;
}

.main-submenu > li > a{
  color: #333!important;  
  text-decoration: none;
}
