/********* notify bar ***********/

.jquery-notify-bar {
	/*z-index: 32768; position: fixed; text-align: center; filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ebebeb', endcolorstr='#cccccc'); padding-bottom: 20px; background-color: #ebebeb; padding-left: 0px; width: 100%; padding-right: 0px; font-family: arial, candara, cochin, georgia, times, "times new roman", serif; color: #555; font-size: 18px; top: 0px; font-weight: bold; padding-top: 20px; left: 0px; text-shadow: 1px 1px 2px #ddd; -moz-box-shadow: 0px 2px 8px #888; -webkit-box-shadow: 0px 2px 8px #888; box-shadow: 0px 2px 8px #888; margin-top:0px;*/

	text-align: center; filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#ebebeb', endcolorstr='#cccccc'); padding-bottom: 10px; background-color: #ebebeb; padding-left: 0px; width: 100%; padding-right: 0px; font-family: arial, candara, cochin, georgia, times, "times new roman", serif; color: #555; font-size: 16px; top: 0px; font-weight: bold; padding-top: 10px; left: 0px; margin-top:0px; margin-bottom:20px;
}
.error.jquery-notify-bar {
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#db4444', endcolorstr='#bd3a3a'); background-color: #E77300; color: #fff0f0; text-shadow: 1px 1px 1px #bd3a3a;
}
.success.jquery-notify-bar {
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#8dc96f', endcolorstr='#509c4b'); background-color: #8dc96f; color: #fff; text-shadow: #509c4b 1px 1px 1px
}
.notify-bar-close {
	position: absolute; font-size: 11px; left: 95%
}
/*Added By Debaleena on 14th September (start)*/
.lb_innerbox
{
	width:480px;
	height:auto;
	border:0px solid #111111;
	padding-left:45px;
}
.lb_left
{
	border:0px solid red;
	width:155px;
	float:left;
}
.lb_right
{
	border:0px solid red;
	width:200px;
	float:left;
}
.lb_innerbox1
{
	width:520px;
	height:auto;
	border:0px solid #111111;
	padding-left:25px;
}
.lb_left1
{
	border:0px solid red;
	width:105px;
	float:left;
}
.lb_right1
{
	border:0px solid red;
	width:390px;
	float:left;
	text-align:left;
}
.clear
{
	clear:both;
}
.blktxt3
{
	font-family:"Arial";
	font-size:12px;
	color:#161616;
	font-weight:bold;
	text-decoration:none;
}
.blk_txt1
{
	font-family:"Arial";
	font-size:12px;
	color:#161616;
	font-weight:normal;
	text-decoration:none;
}
blk_txt1_small
{
	font-family:"Arial";
	font-size:10px;
	color:#161616;
	font-weight:normal;
	text-decoration:none;
}
.msg_txt
{
	color:#E52716;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-align:left;
}
.txtbox248
{
	width:226px;
	height:15px;
	padding:3px;
	font-size:11px;
	font-weight:normal;
	color:#6a6969;
	border:1px solid #c0c0c0;
}
/*Added By Debaleena on 14th September (end)*/

/****/